<template name='chat_room'>
  <aside class="chatRoom content">
    <button class="chatRoom_btn" id="chatRoom_btn">
  →
</button>
    <div class="content_channel">
    <h1>Channels (6)</h1>
    <hr/>
    <ul>
      <li>First channel</li>
      <li>Second channel</li>
      <li>Third channel</li>
      <li>Four channel</li>
      <li>Five channel</li>
      <li>Six channel</li>
    </ul>
    </div>
     <div class="content_user">
    <h2>Users (10)</h2>
    <hr/>
    <ul>
      <li>First user</li>
      <li>Second user</li>
      <li>Third user</li>
      <li>Four user</li>
      <li>Five user</li>
      <li>Six channel</li>
      <li>Seven user</li>
      <li>Eight user</li>
      <li>Nine user</li>
    </ul>
    </div>
    <div class="content_madeby">
      <p>Made by Renan Bronchart &amp; Enora Gathignol</p>
    </div>
  </aside>
</template>