.chatRoom
  width: 250px
  background: #323c46
  height: 100%
  z-index: -1;
  left: -200px
  position: relative
  @include medium
    width: 250px
    background: #323c46
    height: 100%
    z-index: -1;
    left: 0
  
  chatRoom_btn