header
  height: 60px
  display: flex
  background: linear-gradient(to right, rgba(224,82,80,1) 0%, rgba(241,188,141,1) 100%)

.header__logo
  flex-grow: 1
  text-align: center

.header__logo-img
  width: 50px
  height: auto
  margin-top: 10px
  
.header__disconnect
  flex-shrink: 0
  border-left: 1px solid #fff
  transition: 0.2s ease-in-out
  a.login-link-text
    display: inline-block
    line-height: 60px
    padding: 0 50px

  #login-buttons .login-form-sign-in
    position: static

  
  p
    color: #fff
    text-transform: uppercase
    font-size: 16px
    
    a
      color:#fff
      text-decoration: none
    
  .accounts-dialog
    @extend .modal__dialog
.header__disconnect:hover
  background: rgba(224,82,80,1)

    


  